.container {
  padding: 52px 0 90px;
  width: 1100px;
  margin: 0px auto;
}

.signUpBox {
  overflow: hidden;
  display: block;
  position: relative;
  background: white;
  width: 380px;
  margin: 0px auto;
}

.easySignUpBox {
  display: block;
  padding: 30px;
  margin-bottom: 10px;

  text-align: center;
  border-bottom: 1px solid #ddd;

  .easySignUpTitle {
    display: block;
    margin-bottom: 20px;

    font-size: 0.9em;
    color: black;
    letter-spacing: 0.15em;
  }

  .easySignUpIcon {
    display: inline;
    margin: 20px 0px 0px 20px;
  }
}

.signUpWrap {
  position: relative;
  margin: 40px 0px 40px 0px;

  .importStar {
    color: #d7266d;
  }

  .signUpInputForm {
    position: relative;
    display: block;
    background: white;
    margin: 0px 0px 10px 0px;
    color: black;

    font-weight: normal;
    text-align: left;
  }

  .signUpInput {
    padding: 15px 0px;
    background: white;
    color: black;
    width: 99%;

    border: 1px solid #e1e1e1;
    font-size: 0.9em;
    border-radius: 5px;
    text-indent: 12px;
    vertical-align: middle;
    outline: medium none;
    font-weight: normal;
  }

  .signUpTitle {
    display: block;
    margin: 10px 0px;

    font-size: 1em;
    color: black;
    font-weight: 500;
  }
}

// signform 다시...

.signUpTipBox {
  margin: 10px 0px 10px;

  .signUpTip {
    display: block;
    padding: 1px 0px 3px;

    font-size: 0.8em;
    color: #222;
    line-height: 1.4em;
    text-align: left;
    font-weight: normal;
  }
}

.signUpHpWrap {
  position: relative;
  display: block;
  text-align: left;
  margin-bottom: 10px;
}

.signUpHp {
  position: relative;
  height: 52px;
  line-height: 52px;
  margin: 0px 130px 0px 0px;
  background: #fff;
  font-size: 1.1em;
  color: #9d9d9d;
  vertical-align: middle;

  input {
    height: 52px;
    line-height: 52px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    text-indent: 10px;
    font-size: 1.1em;
    outline: medium none;
    font-weight: 700;
  }
}

.benefitIcon {
  position: absolute;
  top: 54px;
  left: 25px;
  z-index: 10;

  img {
    display: inline-block;
    width: 15px;
  }
}

.welcomeCouponWrap {
  position: relative;
  width: 100%;

  .welcomeCouponBox {
    display: inline-block;
    width: 194px;
    position: absolute;
    top: 10px;
    left: 0px;
    padding: 8px 12px;
    text-align: left;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 3px 5px 0;
    box-sizing: border-box;
    border: 1px solid #666;
    z-index: 9;

    .welcomeCoupon {
      font-size: 13px;
      line-height: 17px;
      letter-spacing: -0.05em;
      color: #d7266d;
    }
  }
}

.signUpForm {
  position: relative;
  margin: 0px 0px 40px 0px;

  .signUpTitle {
    display: block;
    margin: 10px 0px;

    font-size: 1.13em;
    color: black;
    font-weight: 500;
  }

  .importStar {
    color: #d7266d;
  }

  .policyAgreedTitle {
    display: block;
    background: #fff;
    margin: 40px 0px 40px;

    .allAgreeBox {
      position: relative;
      display: block;
      margin: 10px 0px 40px;
      font-size: 1.25em;
      font-weight: bold;
      color: #000;
      text-align: left;

      .agreeBox {
        position: absolute;
        top: 1.5px;
        left: 0px;
      }
    }
  }
}
