@import '../shared/CommonColor.scss';

.cartHeaderWrap {
  position: relative;
  margin-bottom: 30px;
  border-bottom: 3px solid $color-darkGrey;
  background-color: $color-cartBackground;

  .cartHeader {
    position: relative;
    display: flex;
    align-items: center;
    padding: 25px;

    .cartTitle {
      position: relative;
      display: inline-block;
      color: $color-cartTitle;
      font-size: 26px;
      font-weight: 600;
      letter-spacing: -1px;
    }

    .cartSubTitleList {
      display: flex;
      position: absolute;
      right: 15px;
      padding-top: 13px;

      .cartSubTitle {
        margin-right: 13px;

        .cartSubTitleText {
          color: $color-cartSubTitle;
          font-size: 17px;
          font-weight: 600;
          line-height: 1;

          &.on {
            position: relative;
            top: -3px;
            color: $color-cartTitle;
            font-size: 20px;
            font-weight: 600;
          }
        }
      }
    }
  }
}
