@import '../shared/CommonColor.scss';

@mixin OrderBtn($color) {
  display: inline-block;
  width: 300px;
  height: 58px;
  color: #fff;
  background: $color;
  line-height: 58px;
  font-weight: bold;
  font-size: 18px;
}

.orderBtn {
  @include OrderBtn($color-mainColor);
}

.continueBtn {
  @include OrderBtn($color-cartButton);
  margin-left: 20px;
}
