.checkBoxWrap {
  position: relative;
  width: 21px;
  height: 21px;
  margin-left: 5px;
  cursor: pointer;

  .checkboxIcon {
    position: relative;
    top: -5px;
    font-size: 32px;
    color: #565656;

    .checkIcon {
      font-size: 25px;
      z-index: 99999;
    }
  }

  // .checkBox {
  //   display: none;

  //   + label {
  //     &:before {
  //       display: inline-block;
  //       position: absolute;
  //       top: 0;
  //       left: 0;
  //       width: 21px;
  //       height: 21px;
  //       margin: 0 3px -6px 0;
  //       border: 1px solid #383838;
  //       content: '';
  //       cursor: pointer;
  //     }

  //     &:after {
  //       position: absolute;
  //       top: 4px;
  //       left: 3px;
  //       line-height: 0.8;
  //       color: #333;
  //       opacity: 0;
  //       content: '✔';
  //       font-size: 20px;
  //       transition: all 0.3s;
  //       transform: scale(0);
  //     }
  //   }

  //   &:checked + label:after {
  //     opacity: 1;
  //     transform: scale(1);
  //   }
  // }
}
