$color-mainColor: #ab4ba5;
$color-black: #000;
$color-darkGrey: #444;
$color-grey: #afafaf;
$color-whiteGrey: #dadada;
$color-cartTitle: #161616;
$color-cartSubTitle: #959595;
$color-cartBackground: #f8f9fa;
$color-cartProductBackground: #fbfbfb;
$color-cartSign: #cbcbcb;
$color-cartSignColor: #999;
$color-cartSignBackground: #f6f6f6;
$color-cartBorder: #efefef;
$color-cartButton: #565656;
$color-cartFont: #66646b;
$color-cartOderBorder: #e7e7e7;
$color-commentHeaderFont: #666;
$color-commentText: #333;
$color-commentBorder: #dedede;
