.Cart {
  position: absolute;
  top: 5%;
  left: 22%;
  width: 50%;
  height: 50%;
  text-align: center;
  background-color: whitesmoke;
  padding: 15px;
  // display: none;
  overflow: auto;

  .open {
    display: block;
    background-color: bl;
    overflow: hidden;
  }

  .cartTitle {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: left;
  }

  .cartContent {
    font-size: 20px;
    border-top: 1px solid black;
    padding: 10px 10px;
    height: 70%;

    .order {
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
    }

    .productCount {
      display: flex;
      justify-content: space-between;
    }

    .productQuantity {
      margin: 0 10px;
    }

    .total {
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
    }
  }

  .cartBottom {
    .showDetails {
      background-color: #999999;
    }
    .addToCart {
      background-color: #ab4ba5;
    }
    button {
      width: 160px;
      height: 50px;
      padding: 0;
      margin: 15px 20px 30px;
      font-size: 100%;
      color: white;
      border: none;
      border-radius: 5px;

      &:hover {
        background-color: white;
        border: 1px solid #ab4ba5;
        border-color: #ab4ba5;
        color: #ab4ba5;
      }
    }
  }
}
