* {
  box-sizing: border-box;
}

.List {
  width: 1100px;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 15px;

  h1 {
    height: 100%;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
  }

  .sorts {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;

    .sortByTime {
      margin: 0 10px;
      padding: 0 10px;
      border-left: 1px solid #999999;
      border-right: 1px solid #999999;
    }
  }

  .foodList {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    align-items: center;
  }
}
