.List {
  width: 1100px;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 15px;

  h1 {
    height: 100%;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
  }

  .foodList {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    align-items: center;
  }
}
