@import '../shared/CommonColor.scss';

.commentWrap {
  padding: 30px 0;
  border-bottom: 1px solid $color-whiteGrey;

  .commentHeader {
    position: relative;
    height: 30px;
    line-height: 30px;
    color: $color-commentHeaderFont;
    font-size: 1.2em;

    .commentRate {
      font-size: 1.2em;
      color: $color-commentText;
    }

    .commentNickName {
      height: 12px;
      line-height: 14px;
      margin: 12px 0 0 15px;
      padding: 0px 14px;
      border-left: 1px solid $color-whiteGrey;
      color: $color-darkGrey;
    }
  }

  .commentText {
    display: block;
    line-height: 1.8em;
    padding: 15px 0;
    color: $color-black;
    font-size: 15px;
    text-align: left;
  }

  .commentImg {
    max-width: 200px;
    margin: 0 auto;
  }
}
