$font-family: 'Noto Sans', sans-serif;

.loginPage {
  position: relative;
  padding: 52px 0px 90px;
  width: 1100px;
  margin: 0px auto;

  .loginBox {
    width: 1100px;
  }
}

.loginRenewBox {
  overflow: hidden;
  display: block;
  position: relative;
  background: white;
  width: 380px;
  margin: 0px auto;
}

.login {
  position: relative;
  margin: 0px 0px 20px;
}

.loginForm {
  position: relative;
}

.loginTitle {
  display: block;
  color: black;
  font-size: 1.95em;
  line-height: 1.4em;
  font-weight: 700;
}

.loginTitleBox {
  display: block;
  margin-bottom: 15px;
  text-align: center;
}

.underLoginTitle {
  display: block;
  margin-top: 30px;
  color: black;
  font-size: 15px;
  line-height: 1.4em;
  font-weight: 700;

  .rightUnderLoginTitle {
    color: #ab4ba5;
  }
}

.loginInput {
  position: relative;
  display: block;
  margin-bottom: 10px;
  background: white;
  color: black;
  font-weight: normal;
  text-align: left;
}

.userIdPwForm {
  vertical-align: middle;
  padding: 15px;
  width: 348px;
  background: white;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  color: black;
  text-align: left;
  outline: medium none;
  font-weight: normal;
}

.loginBtn a {
  display: block;
  style: {
    cursor: 'pointer';
  }
  margin-top: 30px;
  background: #ab4ba5;
  padding: 17px 0px;
  border: 1px solid #ab4ba5;
  color: white;
  text-align: center;
  font-size: 1.35em;
  border-radius: 3px;
}

.underLoginBtn {
  vertical-align: top;
  margin: 15px 0px 40px;
  font-size: 1em;
  line-height: 1.4em;
  text-align: center;

  .underLoginBtnWords {
    display: inline-block;
    padding: 10px 2%;
    font-size: 15px;
    color: black;
  }

  .underLoginBtnBar {
    display: inline-block;
    padding: 0px 2%;
    margin-top: 10px;
    font-size: 0.9em;
    font-weight: normal;
  }
}

.easyLogin {
  display: block;
  margin: 0px 0px 30px;
  text-align: center;

  .easyLoginWord {
    display: block;
    font-size: 1.1em;
    color: black;
    letter-spacing: 0.03em;
  }

  .loginInToSocial {
    display: inline-block;
    margin: 20px 0px 0px 20px;
  }
}
