.Header {
  height:155px;
  z-index: 400;

  .headerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    background: #ebebeb;
    
    .headerTopWrap{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 1100px;
      margin: 0 auto;

      h1 {
        color: #262626;
        font-size: 12px;
        font-weight: 700;
        text-align: center;
      }

      ul {
        display: flex;
        color: #777;
        font-size: 11px;
        
        li {
          margin-left: 5px;
        }
      }
    }
  }

  .headerBottom {
    margin-top: 22px;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
    z-index: 100;
    
    .headerBottomWrap {
      display: flex;
      justify-content: space-between;
      align-items: center; 
      position: relative;
      width: 1100px;
      margin: 18px auto;

      .logoKorean {
        width: 120px;
        height: 34px;
      }

      .logo {
        width: 70px;
        margin-left: 190px;
      }

      .withoutLogo {
        display: flex;
      }

      .searchWrap {
        width: 234px;
        height: 34px;
        margin-right: 20px;
        border: 1px solid #d4d4d4;

        span {
          height: 34px;
          background: #fff;
          overflow: hidden;

          input {
            width: 90%;
            height: 100%;
            padding: 0;
            border: none;
            outline: none;
            color: #a9a9a9;
            font-size: 13px;
            line-height: 34px;
          }
        }

        .searchIcon {
          display: block;
          position: relative;
          left: 205px;
          top: -24px;
          cursor: pointer;
        }
      }

      .userInfoAndGoToCart {
        .userAndCartIcons {
          display: flex;
          padding-top:7px;

          li {
            cursor: pointer;

            .bagIcon {
              margin-left: 12px;
            }
            
            .cartNum {
              display: inline-block;
              position: relative;
              left: -7px;
              top: -5px;
              height: 19px;
              padding: 0px 6px;
              color: #fff;
              background: rgb(71, 71, 71);
              border-radius: 60px;
              line-height: 21px;
              text-align: right;
            }
          }
        }
      }
    }
  }

  .dropDownUserInfo {
    position: relative;
  }

  .showUserInfo {
    display: none;
    position: absolute;

    .userInfoWrap {
      position: relative;
      right: 45px;
      top: 15px;
      z-index: 700;
    }

    .userInfoList {
      width: 106px;
      padding: 5px 0px;
      background: #fff;
      border: 1px solid #86868b;
      border-radius: 7px;

      li {
        color: #333;
        font-size: 11px;
        
        a {
          display: block;
          padding: 8px 17px;
        }
      }
    }
  }

  .dropDownUserInfo:hover .showUserInfo {display: block;}
}
