.SideBar {
  position: fixed;
  top: 25%;
  right: 11%;
  z-index: 900;

  .sidebarWrap {
    position: absolute;
    width: 80px;
    overflow: hidden;
    background: #fff;
    border: 1px solid rgb(199, 198, 198);

    li {
      display: block;
      background: rgb(199, 198, 198);
      color: #fff;
      line-height: 32px;
      font-size: 1em;
      text-align: center;
      font-weight: 300;
    }

    .imgBox {
      display: flex;
      background: white;
    }

    .currentImg {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      width: 80px;
      height: 260px;
      margin: 15px 0px;
      background: #fff;
      text-align: center;

      .loadedProduct {
        height: 55px;
        margin: 5px 0;

        .imgWrap {
          margin: 5px 12.5px;
  
          img {
            width: 55px;
            height: 55px;
          }
        }
  
        .deleteBtn {
          position: relative;
          left: 20px;
          bottom: 80px;
          width: 10px;
          height: 10px;
          border: 1px solid rgb(199, 198, 198);
          line-height: 10px;
          cursor: pointer;
        }
      }
    }
  }

  .listNumAndButtonWrap {
    display: flex;
    text-align: center;

    .listNumAndButton {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;

      button {
        width: 13px;
        height: 13px;
        padding: 0 3px 7px 3px;
        color: white;
        background-color: rgb(230, 228, 228);
        border: none;
        line-height: 1em;
      }
    }
  }
}

.SideBarHide {
  display: none;
}