.SideBar {
  position: fixed;
  top: 25%;
  right: 10%;
  z-index: 900;
  .sidebarWrap {
    position: absolute;
    width: 80px;
    overflow: hidden;
    background: #fff;
    border: 1px solid rgb(199, 198, 198);
    li {
      display: block;
      background: rgb(199, 198, 198);
      color: #fff;
      line-height: 32px;
      font-size: 1em;
      text-align: center;
      font-weight: 300;
    }
    .imgBox {
      display: flex;
      width: 320px;
      background: white;
    }
    .currentImg {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 260px;
      margin: 15px 0px;
      background: #fff;
      text-align: center;
      .imgWrap {
        width: 55px;
        height: 55px;
        margin: 5px 12.5px;
        img {
          width: 55px;
          height: 55px;
        }
      }
    }
  }
  .listNumAndButtonWrap {
    display: flex;
    text-align: center;
    .listNumAndButton {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      button {
        width: 13px;
        height: 13px;
        padding: 0 3px 7px 3px;
        color: white;
        background-color: rgb(230, 228, 228);
        border: none;
        line-height: 1em;
      }
    }
  }
  .ScrollTo {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    right: 2%;
    z-index: 400;
    button {
      height: 30px;
      margin-bottom: 10px;
      background-color: white;
      border-radius: 3px;
      border: 1px solid rgb(196, 194, 194);
    }
  }
}
.SideBarHide {
  display: none;
}