.foodProduct {
  width: 340px;
  margin: 0 auto;
  padding-bottom: 50px;

  .foodImage {
    position: relative;
    margin-top: 5px;
    border-radius: 10px;
    overflow: hidden;
  }

  img {
    width: 340px;
    height: 340px;
    transition: all 0.1s ease-in-out;
  }

  &:hover img {
    transform: scale(1.05);
  }

  &:hover .fa-heart {
    visibility: visible;
    bottom: 10px;
  }

  .fa-heart {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
    color: #999;
    visibility: hidden;
    bottom: -30px;
    left: 10px;
    background-color: #fff;
    opacity: 0.8;

    &.fill {
      background-color: #fff;
      opacity: 1;
      color: #ab4ba5;
    }

    &:hover {
      color: #ab4ba5;
      opacity: 1;
    }
  }

  .productDetails {
    margin: 20px 5px;
    text-align: left;

    .productName {
      margin-bottom: 20px;
      font-size: 20px;

      .name {
        width: 335px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    .productPrice {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
      font-size: 20px;
      text-align: left;

      .originalPrice {
        padding-left: 10px;
        color: #999;
        font-size: 15px;
        text-decoration: line-through;

        &.notOnSale {
          display: none;
        }
      }

      .discountRate {
        color: #ab4ba5;
        font-weight: 600;

        &.notOnSale {
          display: none;
        }
      }
    }

    .productDescription {
      height: 70px;
      margin: 15px 0;
      padding: 15px 0;
      color: #999;
      border-top: 0.5px solid #999;
      border-bottom: 0.5px solid #999;
      font-size: 15px;
      text-align: left;
    }

    .reviewAndShipment {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 40px;

      .reviewCount {
        margin-right: 10px;
        padding: 1.3px 2px;
        line-height: 25px;
        font-size: 15px;
      }

      .shipments {
        display: flex;
        justify-content: flex-start;

        li {
          padding: 0.3px 2px;
          border: 1px solid;
          line-height: 25px;
          font-size: 15px;

          &.isFree {
            color: #fff;
            border-color: #000;
            background: #000;
          }

          &.isDaco {
            color: #ab4ba5;
            border-color: #ab4ba5;
          }

          &.isCool {
            color: #4bb6e3;
            border-color: #4bb6e3;
          }

          &.isBasic {
            color: #999;
            border-color: #999;
          }
        }
      }
    }
  }
}
