.foodProduct {
  width: 340px;
  margin: 0 auto;

  img {
    transform: scale(1);
    transition: all 0.1s ease-in-out;
  }

  &:hover img {
    transform: scale(1.05);
  }

  &:hover .fa-heart {
    visibility: visible;
    bottom: 10px;
  }

  .fa-heart {
    color: #999999;
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
    visibility: hidden;
    bottom: -30px;
    left: 10px;
    background-color: whitesmoke;
    opacity: 0.8;
    font-size: 5px;

    .fill {
      background-color: chartreuse;
    }

    &:hover {
      color: #ab4ba5;
      opacity: 1;
    }
  }

  .fa-shopping-bag {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
    background-color: whitesmoke;
    opacity: 0.8;
    font-size: 20px;
  }
  .foodImage {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 5px;
    border-radius: 10px;
  }

  .productDetails {
    width: 340px;
    overflow: hidden;
    margin: 20px 5px;
    p {
      text-align: left;
    }
    .productName {
      white-space: nowrap;
      font-size: 22px;
    }
    .productPrice {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
      font-size: 20px;
      text-align: left;

      .price {
        padding-left: 10px;
        text-decoration: line-through;
        font-size: 15px;
      }
      .discountRate {
        color: #ab4ba5;
      }
    }
    .productDescription {
      height: 36px;
      border-top: 0.5px solid rgb(185, 171, 171);
      border-bottom: 0.5px solid #999999;
      padding: 15px 0;
      margin: 15px 0;
      font-size: 16px;
      p {
        text-align: left;
        color: #999999;
      }
    }
    .productProperty {
      display: flex;
      justify-content: start;
      .shipment {
        margin-left: 10px;
      }
    }
  }
}
