.Review {
  padding: 30px 0;
  border-bottom: 1px solid #dedede;

  .reviewHeader {
    position: relative;
    height: 30px;
    line-height: 30px;
    color: #666;
    font-size: 1.2em;

    .reviewScores {
      font-size: 1.2em;
      color: #333;
    }

    .reviewNickname {
      height: 12px;
      line-height: 14px;
      margin: 12px 0 0 15px;
      padding: 0px 14px;
      border-left: 1px solid #ddd;
      color: #555;
    }
  }

  .reviewComment {
    display: block;
    line-height: 1.8em;
    padding: 15px 0;
    color: #000;
    font-size: 15px;
    text-align: left;
  }

  .reviewImage {
    width: 160px;
    height: 160px;
    object-fit: cover;
    margin: 0 auto;
  }
}
