.Slider {
  .sliderWithBtn {
    .Slide {
    overflow: hidden;
    z-index: 350;
    .inner {
      display: flex;
      flex-direction: row;
      width: 500vw;
    }
    .sliderImg {
      display: flex;
      float: left;
      width: 100vw;
      height: 395px;
    }
    }
    .button {
      position: relative;
      bottom: 50px;
      left: 1150px;
      overflow: hidden;
      display: flex;
      background: rgba(0,0,0,0.5);
      width: 108px;
      height: 36px;
      line-height: 36px;
      padding-left: 21px;
      color: #fff;
      font-size: 1.32em;
      font-weight: 400;
      text-align: left;
      letter-spacing: 0.01em;
      border-radius: 60px;
      z-index: 450;
      // margin: 347px 0px 0px 0px;
      p {
        margin-right: 5px;
      }
      button {
        border: none;
        background: none;
        color: white;
        font-size: 1.2em;
      }
    }
}
}

